In [8]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

# Step 1: Read the dataset from the text file and preprocess it
with open("C:\\Users\\dell\\Downloads\\data_miinning\\data.txt", 'r', encoding="utf-8-sig") as file:
    # Read the file content
    content = file.readlines()

# Preprocess the content: split each line into transactions
transactions = [line.strip().split(',') for line in content]

# Step 2: Perform one-hot encoding
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)

# Step 3: Apply Apriori algorithm
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)

# Step 4: Generate association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

# View the generated frequent itemsets and association rules
print("Frequent Itemsets:")
print(frequent_itemsets)
print("\nAssociation Rules:")
print(rules)

Frequent Itemsets:
    support         itemsets
0  0.163845      (chocolate)
1  0.179709           (eggs)
2  0.170911   (french fries)
3  0.132116      (green tea)
4  0.129583           (milk)
5  0.238368  (mineral water)
6  0.174110      (spaghetti)

Association Rules:
Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

In [11]:
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

      support                                 itemsets  length
0    0.020397                                (almonds)       1
1    0.033329                                (avocado)       1
2    0.010799                         (barbecue sauce)       1
3    0.014265                              (black tea)       1
4    0.011465                             (body spray)       1
..        ...                                      ...     ...
252  0.011065       (ground beef, milk, mineral water)       3
253  0.017064  (spaghetti, ground beef, mineral water)       3
254  0.015731         (spaghetti, milk, mineral water)       3
255  0.010265    (spaghetti, olive oil, mineral water)       3
256  0.011465     (spaghetti, pancakes, mineral water)       3

[257 rows x 3 columns]

In [15]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.01) ]

      support                       itemsets  length
75   0.011598       (mineral water, avocado)       2
76   0.011465                (burgers, cake)       2
77   0.017064           (burgers, chocolate)       2
78   0.028796                (burgers, eggs)       2
79   0.021997        (burgers, french fries)       2
..        ...                            ...     ...
235  0.011199             (shrimp, tomatoes)       2
236  0.014265              (spaghetti, soup)       2
237  0.020931          (spaghetti, tomatoes)       2
238  0.016531            (spaghetti, turkey)       2
239  0.014131  (spaghetti, whole wheat rice)       2

[165 rows x 3 columns]

In [13]:
frequent_itemsets['support'].max()

0.23836821757099053